{% macro display() %}
{% if lang == config.default_language %}
{% set section = get_section(path="_index.md") %}
{% else %}
{% set section = get_section(path="_index." ~ lang ~ ".md") %}
{% endif %}
{% set certif_path = "data/certifications.json" %}
{% set certif_lang_path = "data/certifications." ~ lang ~ ".json" %}
{% set certif_lang_data = load_data(path=certif_lang_path, required=false) %}
<div class="is-flex is-flex-direction-column" style="height: 100%;">
  <div class="flex: 1;">
    <h1>{{ config.extra.first_name }} <span class="text-primary">{{ config.extra.last_name }}</span></h1>
    <h2 class="subtitle">
      {{ config.extra.address ~ " · " }} <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>
    </h2>
  </div>
  <div class="is-flex is-flex-direction-column is-justify-content-center" style="flex: 1; overflow: auto;">
    <div class="content" style="overflow: auto; padding-top: 1.5rem;">
      {{ section.content | safe }}
    </div>
    <div class="is-hidden-touch">
      <h3>{{ trans(key="certifications", lang=lang) }}</h3>
      {% if certif_lang_data %}
      {% set data = certif_lang_data %}
      {% else %}
      {% set data = load_data(path=certif_path) %}
      {% endif %}
      {% for item in data %}
      <a href="{{ item.proof }}" data-toggle="tooltip" title="{{ item.name }}" data-offset="0,10" rel="me">
        <figure class="image is-64x64">
          {% if item.badge is starting_with("http") %}
          <img src="{{ item.badge }}">
          {% else %}
          <img src="{{ get_url(path=item.badge) }}">
          {% endif %}
        </figure>
      </a>
      {% endfor %}
      <h3>{{ trans(key="socialization", lang=lang) }}</h3>
      {% set social_lang_data = load_data(path="data/social." ~ lang ~ ".json", required=false) %}
      {% if social_lang_data %}
      {% set data = social_lang_data %}
      {% else %}
      {% set data = load_data(path="data/social.json") %}
      {% endif %}
      {% for item in data %}
      <a href="{% if item.link is starting_with('http') %}{{ item.link }}{% else %}{{ get_url(path=item.link) }}{% endif %}" style="font-size: 1.75rem;" data-toggle="tooltip" title="{{ item.name }}"
        data-offset="0,10" rel="me">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-{{ item.name | lower }} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}